html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: unset;
  color: inherit;
}

button {
  background: inherit;
  border: inherit;
  font-size: inherit;
  color: inherit;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url(../font/Pretendard-Thin.woff) format("woff"), url(../font/Pretendard-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  src: url(../font/Pretendard-ExtraLight.woff) format("woff"), url(../font/Pretendard-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url(../font/Pretendard-Light.woff) format("woff"), url(../font/Pretendard-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Pretendard-Regular.woff) format("woff"), url(../font/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url(../font/Pretendard-Medium.woff) format("woff"), url(../font/Pretendard-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url(../font/Pretendard-SemiBold.woff) format("woff"), url(../font/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url(../font/Pretendard-Bold.woff) format("woff"), url(../font/Pretendard-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  src: url(../font/Pretendard-Black.woff) format("woff"), url(../font/Pretendard-Black.woff2) format("woff2");
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon > svg {
  width: 100%;
}

body,
html {
  font-family: "Pretendard", sans-serif;
}

.wrap {
  overflow: hidden;
}

.visual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}
.visual .visual-box {
  width: 100%;
}
.visual .visual-box .visual-title {
  font-weight: 700;
  font-size: 5rem;
}
.visual .visual-box .visual-title .name {
  width: 100%;
  position: relative;
}
.visual .visual-box .visual-title .name > li {
  width: 100%;
  text-align: center;
}
.visual .visual-box .visual-title .name > li.nick {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.visual .visual-box .visual-title .type {
  display: block;
  text-align: center;
  opacity: 0;
}
.visual .visual-box .visual-desc {
  display: block;
  padding-top: 1.25rem;
  text-align: center;
  font-size: 12px;
  opacity: 0;
}

@media (max-width: 375px) {
  .visual .visual-box .visual-title {
    font-size: 24px;
  }
}
.harmony {
  padding: 6.25rem 2.5rem;
}
.harmony .profile {
  text-align: center;
  margin-bottom: 6.25rem;
}
.harmony .profile .profile-img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.harmony .profile .profile-img > img {
  max-width: 100%;
}
.harmony .profile .profile-desc {
  margin: 1.875rem 0;
  line-height: 1.25;
  font-size: 16px;
}
.harmony .profile .btn-gray {
  background-color: #efefef;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.harmony .cont-box {
  margin-top: 6.25rem;
  text-align: center;
}
.harmony .cont-box .tit-box .cate {
  font-weight: 600;
}
.harmony .cont-box .tit-box .tit {
  font-size: 2.25rem;
  padding: 1rem 0 1.875rem;
}
.harmony .cont-box.core .core-list {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  max-width: 1200px;
  margin: 0 auto;
}
.harmony .cont-box.core .core-list > li {
  width: calc((100% - 2.5rem) / 3);
}
.harmony .cont-box.core .core-list > li .core-name {
  padding: 2.5rem;
  background-color: #eee;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.harmony .cont-box.core .core-list > li .core-desc {
  padding: 0.625rem;
  text-align: left;
  line-height: 1.2;
  color: #555;
  font-size: 14px;
}
.harmony .cont-box.tech .tech-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.harmony .cont-box.tech .tech-list > li {
  width: calc((100% - 30px) / 4);
}
.harmony .cont-box.tech .tech-list > li .icon svg {
  max-height: 100%;
}
.harmony .cont-box.project .project-list {
  max-width: 1200px;
  margin: 0 auto;
}
.harmony .cont-box.project .project-list > li {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 24px;
  border-radius: 5px;
}
.harmony .cont-box.project .project-list > li:nth-child(even) {
  background-color: #eee;
}
.harmony .cont-box.project .project-list > li .date {
  width: 130px;
  text-align: left;
  font-size: 12px;
}
.harmony .cont-box.project .project-list > li .info {
  width: calc(100% - 150px);
  text-align: left;
}
.harmony .cont-box.project .project-list > li .info .name {
  font-size: 14px;
  font-weight: 600;
}
.harmony .cont-box.project .project-list > li .info .desc {
  line-height: 1.5;
  margin-top: 8px;
  font-size: 14px;
}
.harmony .cont-box.project .project-list > li .info .pj-skill {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}
.harmony .cont-box.project .project-list > li .info .pj-link {
  font-size: 12px;
  color: #3a4db9;
  font-weight: 600;
}

.archive-wrap {
  background-color: #000;
  min-height: 100vh;
}

.archive {
  width: 100%;
  padding: 5rem 0;
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  position: relative;
}
.archive .title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.archive .project-list {
  padding-top: 2.5rem;
}
.archive .project-list > li {
  border: 0.0625rem solid #888;
  border-radius: 0.3125rem;
  padding: 2.5rem;
}
.archive .project-list .project-tit {
  display: flex;
  gap: 0.75rem;
  align-items: end;
}
.archive .project-list .project-tit .project-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.archive .project-list .project-tit .project-date {
  font-weight: 300;
}
.archive .project-list .project-tit .project-skill {
  display: flex;
  gap: 0.5rem;
  font-weight: 300;
}