@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $thin;
  src: url(../font/Pretendard-Thin.woff) format('woff'),
    url(../font/Pretendard-Thin.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $extraLight;
  src: url(../font/Pretendard-ExtraLight.woff) format('woff'),
    url(../font/Pretendard-ExtraLight.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $light;
  src: url(../font/Pretendard-Light.woff) format('woff'),
    url(../font/Pretendard-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $regular;
  src: url(../font/Pretendard-Regular.woff) format('woff'),
    url(../font/Pretendard-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $medium;
  src: url(../font/Pretendard-Medium.woff) format('woff'),
    url(../font/Pretendard-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $semibold;
  src: url(../font/Pretendard-SemiBold.woff) format('woff'),
    url(../font/Pretendard-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $bold;
  src: url(../font/Pretendard-Bold.woff) format('woff'),
    url(../font/Pretendard-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $black-font;
  src: url(../font/Pretendard-Black.woff) format('woff'),
    url(../font/Pretendard-Black.woff2) format('woff2');
}
