.harmony-wrap {
}
.harmony {
  padding: ppr(100) ppr(40);
  .profile {
    text-align: center;
    margin-bottom: ppr(100);
    .profile-img {
      width: ppr(300);
      height: ppr(300);
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      > img {
        max-width: 100%;
      }
    }
    .profile-desc {
      margin: ppr(30) 0;
      line-height: 1.25;
      font-size: 16px;
    }
    .btn-gray {
      background-color: #efefef;
      padding: 8px 12px;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .cont-box {
    margin-top: ppr(100);
    text-align: center;
    .tit-box {
      .cate {
        font-weight: $semibold;
      }
      .tit {
        font-size: ppr(36);
        padding: ppr(16) 0 ppr(30);
      }
    }

    &.core {
      .core-list {
        display: flex;
        justify-content: center;
        gap: ppr(20);
        max-width: 1200px;
        margin: 0 auto;
        > li {
          width: calc((100% - #{ppr(40)}) / 3);
          .core-name {
            padding: ppr(40);
            background-color: #eee;
            border-radius: ppr(10);
            font-size: ppr(18);
            font-weight: $bold;
          }
          .core-desc {
            padding: ppr(10);
            text-align: left;
            line-height: 1.2;
            color: #555;
            font-size: 14px;
          }
        }
      }
    }

    &.tech {
      .tech-list {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        > li {
          width: calc((100% - 30px) / 4);
          .icon {
            svg {
              max-height: 100%;
            }
          }
        }
      }
    }
    &.project {
      .project-list {
        max-width: 1200px;
        margin: 0 auto;
        > li {
          display: flex;
          flex-wrap: wrap;
          padding: 20px 10px 24px;
          border-radius: 5px;

          &:nth-child(even) {
            background-color: #eee;
          }
          .date {
            width: 130px;
            text-align: left;
            font-size: 12px;
          }
          .info {
            width: calc(100% - 150px);
            text-align: left;
            .name {
              font-size: 14px;
              font-weight: $semibold;
            }
            .desc {
              line-height: 1.5;
              margin-top: 8px;
              font-size: 14px;
            }
            .pj-skill {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-top: 8px;
            }
            .pj-link {
              font-size: 12px;
              color: #3a4db9;
              font-weight: $semibold;
            }
          }
        }
      }
    }
  }
}
